/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
/*=E HTML5 */

/*=S 初始 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,menu,fieldset,legend,input,label,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {background-color:#FFF;}
body,textarea {font:400 12px/1.5 Open sans, Microsoft JhengHei, Microsoft YaHei, sans-serif;;color:#333;}
a,a:visited {text-decoration:none;color:#fff;cursor:pointer;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
img, button {background:none;border:0 none;vertical-align:middle;}
ol,ul,menu{list-style:none;}
table,th,td,fieldset,legend {font-weight:400;border:0 none;border-collapse:collapse}
pre {white-space:pre-wrap;}
/*=E 初始 */

/*=S 布局 */
.layout {margin:0 auto;width:980px;}
.iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clearall {zoom:1;}
.clearall:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.pipe {padding:0 10px;font-style:normal;color:#d5d5d5;}
.vm {vertical-align:middle;}
.fl {float:left;}
.fr {float:right;}
.tl {text-align:left;}
.tr {text-align:right;}
.tc {text-align:center;}
.mt10 {margin-top:10px !important;}
.mb10 {margin-bottom:10px;}
.close {position:absolute;top:4px;right:10px;padding-top:15px;width:15px;height:0;background:url(images/icon_common.png) no-repeat 4px 4px;overflow:hidden;z-index:9;cursor:pointer;}
.close:hover {background-position:4px -32px;}
.fix-ie6 {position:absolute;top:0;left:0;width:999px;height:999px;z-index:-1;background:none;border:0 none;_filter:Alpha(opacity=0);}
/*=E 布局 */

/*=S 文字 */
.color1 {color:#334F67;} /* 深蓝 */
.color2 {color:#8CA226;} /* 绿色 */
.color3 {color:#FC6D02;} /* 橙色 */

.color6 {color:#666;} /* 灰色 */
.color9 {color:#999;} /* 浅灰 */
.placeholder {color:#999 !important;} /* 输入框默认颜色 */
:-moz-placeholder {color:#999 !important;}
::-webkit-input-placeholder {color:#999 !important;} 
